Repository openxrlab/xrfeitoria: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-unreal-plugin, run-unreal-test, build-blender-addon, run-blender-test

.circleci/config.yml:

version: 2.1
setup: true
orbs:
  path-filtering: circleci/path-filtering@1.0.0

workflows:
  generate-config:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue_config.yml
          mapping: |
            # -- Unreal Plugin -- #
            src/XRFeitoriaUnreal/.* build-unreal-plugin true
            src/XRFeitoriaUnreal/.* run-unreal-test true
            # -- Blender Addon -- #
            src/XRFeitoriaBpy/.* build-blender-addon true
            src/XRFeitoriaBpy/.* run-blender-test true
            # -- tests -- #
            xrfeitoria/.* run-unreal-test true
            xrfeitoria/.* run-blender-test true
            tests/unreal/.* run-unreal-test true
            tests/blender/.* run-blender-test true
          filters:
            branches:
              only: /.*/
            tags:
              only: /.*/

chore: Update CircleCI pipeline to clone and checkout branch or tag using bash
  .circleci/continue_config.yml
Due: none

chore: Update CircleCI pipeline to clone and checkout branch or tag using powershell.exe
  .circleci/continue_config.yml
Due: none

fix issues
  xrfeitoria/utils/plugin_infos.json
Due: run-unreal-test, run-blender-test

[Version] Bump version to v0.6.3 (#37)
  .circleci/continue_config.yml
Due: none

feat: Add support for setting accumulator alpha in custom movie pipeline
  src/XRFeitoriaUnreal/Content/Python/custom_movie_pipeline.py
Due: build-unreal-plugin, run-unreal-test

fix: flow output `rgb` -> `rgba` - `ba` is forward - `rg` is backward
  src/XRFeitoriaBpy/core/renderer.py
Due: build-blender-addon, run-blender-test

feat: Enable transparent background rendering in `sequence`
  src/XRFeitoriaUnreal/Content/Python/constants.py
  src/XRFeitoriaUnreal/Content/Python/custom_movie_pipeline.py
  tests/unreal/sequence.py
  xrfeitoria/data_structure/models.py
  xrfeitoria/renderer/renderer_unreal.py
  xrfeitoria/sequence/sequence_unreal.py
  xrfeitoria/sequence/sequence_unreal.pyi
Due: build-unreal-plugin, run-unreal-test, run-blender-test

feat: Update HumanLiff teaser image URL
  README.md
Due: none

add comment
  xrfeitoria/utils/converter.py
Due: run-unreal-test, run-blender-test

refactor: Change logging level from debug to trace in rendering job updates; enhance LoggerWrapper to support configurable log path level
  xrfeitoria/renderer/renderer_blender.py
  xrfeitoria/utils/tools.py
Due: run-unreal-test, run-blender-test

refactor: Change logging level from trace to debug in rendering job updates for improved log clarity
  xrfeitoria/renderer/renderer_blender.py
Due: run-unreal-test, run-blender-test

feat: Add environment variable support for disabling spinner and logging interval in rendering processes
  xrfeitoria/renderer/renderer_base.py
  xrfeitoria/renderer/renderer_blender.py
Due: run-unreal-test, run-blender-test

refactor: Update warning message related to `sequence_wrapper_blender`
  xrfeitoria/cmd/blender/render.py
  xrfeitoria/sequence/sequence_wrapper.py
Due: run-unreal-test, run-blender-test

feat: Add PowerShell script to create and run CircleCI Runner Agent as a scheduled task
  .circleci/create_runner_task.ps1
Due: none

feat: Update asset URLs and images in documentation and samples
  README.md
  docs/en/src/blender-addon.md
  samples/blender/07_amass.py
  samples/setup.py
  samples/unreal/07_amass.py
  tutorials/01_get_started.ipynb
  tutorials/02_randomization.ipynb
  tutorials/03_human_nerf.ipynb
Due: none

feat: Add SMPLest-X project to the README with corresponding image and link
  README.md
Due: none

chore: Update CircleCI configuration to include timeout and error handling for Runner Info job
  .circleci/continue_config.yml
Due: none

chore: Update CircleCI configuration to include new parameters and orb version
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

chore: Simplify CircleCI Runner Info job configuration
  .circleci/continue_config.yml
Due: none

chore: Remove unused parameters from CircleCI configuration
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

chore: Update CircleCI configuration for streamlined testing
  .circleci/config.yml
  .circleci/continue_config_full.yml
  .circleci/continue_config_lite.yml
Due: none

refactor: Update sequence method calls for consistency across scripts
  samples/blender/03_basic_render.py
  samples/blender/04_staticmesh_render.py
  samples/blender/05_skeletalmesh_render.py
  samples/unreal/03_basic_render.py
  samples/unreal/04_staticmesh_render.py
  samples/unreal/05_skeletalmesh_render.py
  tests/blender/level.py
  tests/blender/sequence.py
  tutorials/01_get_started.ipynb
  tutorials/02_randomization.ipynb
  tutorials/03_human_nerf.ipynb
  xrfeitoria/data_structure/models.py
  xrfeitoria/renderer/renderer_blender.py
  xrfeitoria/renderer/renderer_unreal.py
  xrfeitoria/sequence/sequence_unreal.py
  xrfeitoria/utils/functions/unreal_functions.py
Due: run-unreal-test, run-blender-test

chore: Bump version to v0.6.4
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
Due: build-unreal-plugin, run-unreal-test, build-blender-addon, run-blender-test

[Version] Bump version to v0.6.4 (#44)
  .circleci/config.yml
  .circleci/continue_config_full.yml
  .circleci/continue_config_lite.yml
  .circleci/create_runner_task.ps1
  README.md
  docs/en/src/blender-addon.md
  samples/blender/03_basic_render.py
  samples/blender/04_staticmesh_render.py
  samples/blender/05_skeletalmesh_render.py
  samples/blender/07_amass.py
  samples/setup.py
  samples/unreal/03_basic_render.py
  samples/unreal/04_staticmesh_render.py
  samples/unreal/05_skeletalmesh_render.py
  samples/unreal/07_amass.py
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaBpy/core/renderer.py
  src/XRFeitoriaUnreal/Content/Python/constants.py
  src/XRFeitoriaUnreal/Content/Python/custom_movie_pipeline.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
  tests/blender/level.py
  tests/blender/sequence.py
  tests/unreal/sequence.py
  tutorials/01_get_started.ipynb
  tutorials/02_randomization.ipynb
  tutorials/03_human_nerf.ipynb
  xrfeitoria/cmd/blender/render.py
  xrfeitoria/data_structure/models.py
  xrfeitoria/renderer/renderer_base.py
  xrfeitoria/renderer/renderer_blender.py
  xrfeitoria/renderer/renderer_unreal.py
  xrfeitoria/sequence/sequence_unreal.py
  xrfeitoria/sequence/sequence_unreal.pyi
  xrfeitoria/sequence/sequence_wrapper.py
  xrfeitoria/utils/converter.py
  xrfeitoria/utils/functions/unreal_functions.py
  xrfeitoria/utils/plugin_infos.json
  xrfeitoria/utils/tools.py
Due: build-unreal-plugin, run-unreal-test, build-blender-addon, run-blender-test

[Doc] Update README.md
  README.md
Due: none

[Doc] Update README.md (#46)
  README.md
Due: none
