Repository openxrlab/xrfeitoria: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-unreal-plugin, run-unreal-test, build-blender-addon, run-blender-test

Test (#10)
  .github/workflows/release.yml
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
  xrfeitoria/utils/plugin_infos.json
  xrfeitoria/utils/runner.py
Due: build-unreal-plugin, run-unreal-test, build-blender-addon, run-blender-test

misc
  .github/workflows/release.yml
  xrfeitoria/utils/plugin_infos.json
Due: run-unreal-test, run-blender-test

Condition (#11)
  .circleci/continue_config.yml
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
  xrfeitoria/utils/plugin_infos.json
Due: build-unreal-plugin, run-unreal-test, build-blender-addon, run-blender-test

Testing (#12)
  .github/workflows/release.yml
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
  xrfeitoria/utils/plugin_infos.json
Due: build-unreal-plugin, run-unreal-test, build-blender-addon, run-blender-test

fix
  .circleci/continue_config.yml
Due: none

0.6.5 (#13)
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
  xrfeitoria/utils/plugin_infos.json
Due: build-unreal-plugin, run-unreal-test, build-blender-addon, run-blender-test

Fix-bug (#14)
  .circleci/continue_config.yml
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
  xrfeitoria/utils/plugin_infos.json
Due: build-unreal-plugin, run-unreal-test, build-blender-addon, run-blender-test

Test (#15)
  .github/workflows/release.yml
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
  xrfeitoria/utils/plugin_infos.json
Due: build-unreal-plugin, run-unreal-test, build-blender-addon, run-blender-test

Test (#16)
  .github/workflows/release.yml
  src/XRFeitoriaBpy/__init__.py
  src/XRFeitoriaUnreal/XRFeitoriaUnreal.uplugin
  xrfeitoria/utils/plugin_infos.json
Due: build-unreal-plugin, run-unreal-test, build-blender-addon, run-blender-test

chore: Refactor release workflow to determine next version and update plugin info
  .github/workflows/release.yml
Due: none

chore: add echo
  .github/workflows/release.yml
Due: none

bug fix
  .github/workflows/release.yml
Due: none

bug fix of git push
  .github/workflows/release.yml
Due: none

permissions
  .github/workflows/release.yml
Due: none

fix
  .github/workflows/release.yml
Due: none

tmp
  .github/workflows/release.yml
Due: none

--tmp--
  .github/workflows/release.yml
Due: none

add echo
  .github/workflows/release.yml
Due: none

test
  .github/workflows/release.yml
Due: none

change to leave comments instead of pushing commit
  .github/workflows/release.yml
Due: none

chore: Update release workflow to include diff content and suggester action
  .github/workflows/release.yml
Due: none

chore: Update release workflow
  .github/workflows/release.yml
Due: none

chore: Update XRFeitoriaBpy version to 0.6.0 (#20)
  .github/workflows/release.yml
  src/XRFeitoriaBpy/__init__.py
Due: build-blender-addon, run-blender-test

Test3 (#21)
  .github/workflows/release.yml
  src/XRFeitoriaBpy/__init__.py
  xrfeitoria/utils/plugin_infos.json
Due: run-unreal-test, build-blender-addon, run-blender-test

Test (#22)
  .github/workflows/release.yml
Due: none

Path conditions:
  build-unreal-plugin: any of: src/XRFeitoriaUnreal/.*
  run-unreal-test: ((any of: src/XRFeitoriaUnreal/.*) or (any of: xrfeitoria/.*)) or (any of: tests/unreal/.*)
  build-blender-addon: any of: src/XRFeitoriaBpy/.*
  run-blender-test: ((any of: src/XRFeitoriaBpy/.*) or (any of: xrfeitoria/.*)) or (any of: tests/blender/.*)
